n8n/01-telegram-bot.json
{
  "name": "FinTrack - Telegram Bot FIx",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "6caa8d40-80a4-47ea-a079-4eaa6853696f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1840,
        1104
      ],
      "webhookId": "7e13fe3e-c2bc-41ee-ab57-43b335e197df",
      "credentials": {
        "telegramApi": {
          "id": "clVthhAwDHzTtYMF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select user_id from public.user_integrations where channel = 'telegram' and identifier = $1 limit 1;",
        "options": {
          "queryReplacement": "={{ $json.message.chat.id }}"
        }
      },
      "id": "89007d00-04f7-4614-8cd2-641a3d8d8244",
      "name": "Resolve User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2080,
        1104
      ],
      "credentials": {
        "postgres": {
          "id": "95T92WHjhxWa7Pcx",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-user-found",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb3c5fac-2a58-4c3e-a3c9-ee246dec752d",
      "name": "Has User?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-is-photo",
              "leftValue": "={{ Array.isArray($('Telegram Trigger').item.json.message.photo) && $('Telegram Trigger').item.json.message.photo.length > 0 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6605c7f1-58b6-4992-bb5d-195ac263e961",
      "name": "Is Photo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "const photos = $('Telegram Trigger').item.json.message.photo;\nconst bestPhoto = photos[photos.length - 1];\nreturn [{ json: { file_id: bestPhoto.file_id, caption: $('Telegram Trigger').item.json.message.caption || '' } }];"
      },
      "id": "6045c8d0-689d-4c7f-8e4b-e544dfeeeeda",
      "name": "Get File Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        912
      ]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8588113276:AAFJsjox4vMwmujaCP3t9F6MMPmXMOrhs1Q/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc25e7b0-e1d5-46ae-adfe-affec077653e",
      "name": "Get Telegram File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const filePath = $json.result.file_path;\nconst caption = $('Get File Path').first().json.caption || '';\nconst imageUrl = 'https://api.telegram.org/file/bot8588113276:AAFJsjox4vMwmujaCP3t9F6MMPmXMOrhs1Q/' + filePath;\n\nconst body = {\n  model: 'meta-llama/llama-4-scout-17b-16e-instruct',\n  temperature: 0.1,\n  messages: [{\n    role: 'user',\n    content: [\n      {\n        type: 'text',\n        text: 'You are a receipt/invoice OCR extractor. Return ONLY a JSON object, no prose, no markdown fences.\\n\\n' +\n          (caption ? 'User caption: \"' + caption + '\"\\n\\n' : '') +\n          'Schema:\\n{\"transaction_type\":\"income|expense\",\"amount\":number,\"currency\":\"IDR\",\"transaction_date\":\"YYYY-MM-DD or null\",\"merchant_name\":\"string or null\",\"item_name\":\"string or null\",\"category\":\"Groceries|Dining|Transportation|Utilities|Entertainment|Shopping|Health|Other|Salary|Freelance|Investment\",\"payment_method\":\"string or null\",\"invoice_number\":\"string or null\",\"notes\":\"string or null\",\"confidence_score\":0.0}\\n\\nRules:\\n- Most receipts = expense. Only income if refund/credit.\\n- amount = grand total after tax/discount\\n- Return ONLY the JSON object.'\n      },\n      {\n        type: 'image_url',\n        image_url: { url: imageUrl }\n      }\n    ]\n  }]\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];"
      },
      "id": "118eb45f-117b-4c09-a1f1-e8ecc0f31978",
      "name": "Build Vision Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "cf671cde-1ed7-4b67-b41d-df0e088959a7",
      "name": "Vision LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        912
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "H5ckmlGmfkJgIK4Y",
          "name": "groq"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '';\nconst cleaned = raw.replace(/```json\\n?|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return [{ json: { _error: 'Could not parse vision output', raw } }];\n}\n\nif (typeof parsed.amount !== 'number' || parsed.amount <= 0 || !parsed.transaction_type) {\n  return [{ json: { _error: 'No valid amount detected from photo', parsed } }];\n}\n\nconst userId = $('Resolve User').first().json.user_id;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst msgId = $('Telegram Trigger').item.json.message.message_id;\n\nconst payload = {\n  user_id: userId,\n  transaction_type: parsed.transaction_type,\n  amount: parsed.amount,\n  currency: parsed.currency || 'IDR',\n  transaction_date: parsed.transaction_date || new Date().toISOString().slice(0, 10),\n  merchant_name: parsed.merchant_name || null,\n  item_name: parsed.item_name || null,\n  category: parsed.category || null,\n  payment_method: parsed.payment_method || null,\n  notes: parsed.notes || ($('Telegram Trigger').item.json.message.caption || null),\n  source_channel: 'telegram',\n  source_reference: `tg:${chatId}:${msgId}:photo`,\n  confidence_score: typeof parsed.confidence_score === 'number' ? parsed.confidence_score : 0.6,\n  parsed_status: 'parsed'\n};\n\nreturn [{ json: payload }];"
      },
      "id": "3d6d021a-1144-4649-aed1-5bdfd54bd99e",
      "name": "Build Photo Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $('Telegram Trigger').item.json.message.text || '';\n\nconst body = {\n  model: 'llama-3.3-70b-versatile',\n  temperature: 0.1,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a finance data extractor. Extract transaction data from user messages in Indonesian or English. Respond with ONLY a JSON object, no prose, no markdown fences.\\n\\nSchema:\\n{\\n  \"transaction_type\": \"income\" | \"expense\",\\n  \"amount\": number,\\n  \"currency\": \"IDR\",\\n  \"merchant_name\": \"string or null\",\\n  \"item_name\": \"string or null\",\\n  \"category\": \"Groceries|Dining|Transportation|Utilities|Entertainment|Shopping|Health|Other|Salary|Freelance|Investment\",\\n  \"payment_method\": \"string or null\",\\n  \"notes\": \"string or null\",\\n  \"confidence_score\": 0.0\\n}\\n\\nRules:\\n- \"habis\", \"keluar\", \"beli\", \"bayar\" -> expense\\n- \"terima\", \"dapet\", \"gajian\", \"masuk\" -> income\\n- \"rb\" or \"k\" = x1000, \"jt\" = x1_000_000\\n- Return ONLY the JSON object.'\n    },\n    {\n      role: 'user',\n      content: text\n    }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];"
      },
      "id": "5f3182cd-ccce-4b70-88fc-216cf290fb01",
      "name": "Build Text Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "0a1c09c5-890c-481f-b01d-02ba2fadada5",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        1104
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "H5ckmlGmfkJgIK4Y",
          "name": "groq"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '';\nconst cleaned = raw.replace(/```json\\n?|```/g, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(cleaned); } catch (err) { return [{ json: { _error: 'Could not parse LLM output', raw, cleaned } }]; }\n\nif (!parsed || typeof parsed.amount !== 'number' || !parsed.transaction_type) {\n  return [{ json: { _error: 'LLM output missing required fields', parsed } }];\n}\n\nconst userId = $('Resolve User').first().json.user_id;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nreturn [{ json: {\n  user_id: userId,\n  transaction_type: parsed.transaction_type,\n  amount: parsed.amount,\n  currency: parsed.currency || 'IDR',\n  transaction_date: new Date().toISOString().slice(0, 10),\n  merchant_name: parsed.merchant_name || null,\n  item_name: parsed.item_name || null,\n  category: parsed.category || null,\n  payment_method: parsed.payment_method || null,\n  notes: parsed.notes || null,\n  source_channel: 'telegram',\n  source_reference: `tg:${chatId}:${$('Telegram Trigger').item.json.message.message_id}`,\n  confidence_score: typeof parsed.confidence_score === 'number' ? parsed.confidence_score : 0.7,\n  parsed_status: 'parsed'\n} }];"
      },
      "id": "19172900-72fc-41d4-952c-587f44291fb6",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-parse-ok",
              "leftValue": "={{ $json._error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e28007e6-201a-4855-b310-4bb14eede125",
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fintrack-ai-omega.vercel.app/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {},
            {
              "name": "x-webhook-secret",
              "value": "3a11d13657165da7a3c1b03235bd4a26f4c8f14f5e6cde8ee0347864235e98e4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e3c7ebf1-4fc7-4a81-bd10-624f35b92e3b",
      "name": "Post to Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        912
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "==? Saved: {{ $('Parse OK?').item.json.transaction_type === 'income' ? '+' : '-' }}{{ Number($('Parse OK?').item.json.amount).toLocaleString('id-ID') }} {{ $('Parse OK?').item.json.currency }}\n*{{ $('Parse OK?').item.json.merchant_name || $('Parse OK?').item.json.item_name || 'transaction' }}*\nCategory: {{ $('Parse OK?').item.json.category || '-' }}\nSource: {{ $('Parse OK?').item.json.source_reference && $('Parse OK?').item.json.source_reference.includes('photo') ? '?? photo' : '? text' }}\nConfidence: {{ Math.round(($('Parse OK?').item.json.confidence_score || 0) * 100) }}%{{ $('Parse OK?').item.json.parsed_status === 'pending' ? '\\n? Low confidence - please review on the website.' : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        },
        "resource": "message",
        "operation": "sendMessage"
      },
      "id": "679c1d7c-9f57-4d17-9794-90c22a3d1b25",
      "name": "Reply Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4480,
        912
      ],
      "webhookId": "f8937f85-fea3-4eab-8705-27960a2914dd",
      "credentials": {
        "telegramApi": {
          "id": "clVthhAwDHzTtYMF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=?? Sorry, I couldn't read that.\n\nText example:\n. `habis 50rb di warteg buat makan siang`\n. `gajian 8jt`\n. `bayar listrik 350k`\n\nOr send a clear photo of a receipt.",
        "additionalFields": {
          "parse_mode": "Markdown"
        },
        "resource": "message",
        "operation": "sendMessage"
      },
      "id": "e6c0a078-a105-4c38-a94a-62c4e825b507",
      "name": "Reply Parse Failed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4240,
        1120
      ],
      "webhookId": "82c22c72-6933-47d0-8f00-f311945e9d48",
      "credentials": {
        "telegramApi": {
          "id": "clVthhAwDHzTtYMF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=?? Your Telegram account isn't linked yet.\n\nTo link it, open Supabase SQL Editor and run:\n\n```\ninsert into user_integrations (user_id, channel, identifier, label)\nvalues ('<YOUR_AUTH_USER_ID>', 'telegram', '{{ $('Telegram Trigger').item.json.message.chat.id }}', 'My Telegram');\n```\n\nReplace `<YOUR_AUTH_USER_ID>` with your UUID from `auth.users`.",
        "additionalFields": {
          "parse_mode": "Markdown"
        },
        "resource": "message",
        "operation": "sendMessage"
      },
      "id": "009c7fa3-68e7-4c8b-92a1-7e321f525bcb",
      "name": "Reply Link Needed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2560,
        1264
      ],
      "webhookId": "9f8d2086-8b47-48a5-a856-694e08bcb441",
      "credentials": {
        "telegramApi": {
          "id": "clVthhAwDHzTtYMF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "voice-check-1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-voice-if-001",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const message = $('Telegram Trigger').item.json.message;\nconst voice = message.voice;\nif (!voice?.file_id) throw new Error('No voice file in message');\nreturn [{ json: { file_id: voice.file_id } }];"
      },
      "id": "get-voice-file-id-001",
      "name": "Get Voice File ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        1280
      ]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8588113276:AAFJsjox4vMwmujaCP3t9F6MMPmXMOrhs1Q/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-voice-file-info-001",
      "name": "Get Voice File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        1280
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8588113276:AAFJsjox4vMwmujaCP3t9F6MMPmXMOrhs1Q/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-voice-binary-001",
      "name": "Download Voice Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3456,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "id"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "transcribe-voice-001",
      "name": "Transcribe Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        1280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "H5ckmlGmfkJgIK4Y",
          "name": "groq"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || '';\nif (!text) throw new Error('Empty transcription from Whisper');\n\nconst body = {\n  model: 'llama-3.3-70b-versatile',\n  temperature: 0.1,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a finance data extractor. Extract transaction data from user messages in Indonesian or English. Respond with ONLY a JSON object, no prose, no markdown fences.\\n\\nSchema:\\n{\\n  \"transaction_type\": \"income\" | \"expense\",\\n  \"amount\": number,\\n  \"currency\": \"IDR\",\\n  \"merchant_name\": \"string or null\",\\n  \"item_name\": \"string or null\",\\n  \"category\": \"Groceries|Dining|Transportation|Utilities|Entertainment|Shopping|Health|Other|Salary|Freelance|Investment\",\\n  \"payment_method\": \"string or null\",\\n  \"notes\": \"string or null\",\\n  \"confidence_score\": 0.0\\n}\\n\\nRules:\\n- \"habis\", \"keluar\", \"beli\", \"bayar\" -> expense\\n- \"terima\", \"dapet\", \"gajian\", \"masuk\" -> income\\n- \"rb\" or \"k\" = x1000, \"jt\" = x1_000_000\\n- Return ONLY the JSON object.'\n    },\n    { role: 'user', content: text }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body), _transcription: text } }];"
      },
      "id": "build-voice-payload-001",
      "name": "Build Voice Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const binary = $input.item.binary?.data;\nif (!binary) throw new Error('No binary data from download step');\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      ...binary,\n      fileName: 'voice.ogg',\n      mimeType: 'audio/ogg',\n      fileExtension: 'ogg'\n    }\n  }\n}];"
      },
      "id": "rename-voice-file-001",
      "name": "Rename Voice File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "7c442877-cc3f-4e9f-a1cf-5de8ae4ca53b",
      "name": "Vision LLM (backup)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        1112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RRJ8HwbhMLO1Cl9Z",
          "name": "groq-backup"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a4d5fa10-52fa-4c3b-bf53-408105cd344c",
      "name": "Call LLM (backup)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        1304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RRJ8HwbhMLO1Cl9Z",
          "name": "groq-backup"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "id"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "d6c4f220-0d2b-4a99-8ca5-224659304719",
      "name": "Transcribe Voice (backup)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        1480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RRJ8HwbhMLO1Cl9Z",
          "name": "groq-backup"
        }
      },
      "onError": "stopWorkflow"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Resolve User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve User": {
      "main": [
        [
          {
            "node": "Has User?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has User?": {
      "main": [
        [
          {
            "node": "Is Photo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Link Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Photo?": {
      "main": [
        [
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "Get Telegram File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram File": {
      "main": [
        [
          {
            "node": "Build Vision Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vision Payload": {
      "main": [
        [
          {
            "node": "Vision LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision LLM": {
      "main": [
        [
          {
            "node": "Build Photo Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Vision LLM (backup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Photo Payload": {
      "main": [
        [
          {
            "node": "Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Text Payload": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call LLM (backup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OK?": {
      "main": [
        [
          {
            "node": "Post to Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Parse Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Website": {
      "main": [
        [
          {
            "node": "Reply Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice?": {
      "main": [
        [
          {
            "node": "Get Voice File ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Text Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File ID": {
      "main": [
        [
          {
            "node": "Get Voice File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File Info": {
      "main": [
        [
          {
            "node": "Download Voice Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice Binary": {
      "main": [
        [
          {
            "node": "Rename Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Build Voice Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe Voice (backup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Voice Payload": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision LLM (backup)": {
      "main": [
        [
          {
            "node": "Build Photo Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM (backup)": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice (backup)": {
      "main": [
        [
          {
            "node": "Build Voice Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
