n8n/02-gmail-parser.json
{
  "name": "FinTrack — Gmail Parser",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_6324401698465549676"
          ],
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "4ae41266-6c8d-4860-8fbf-071a49afde26",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -2080,
        720
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2cCqMvtYJ6vnZ2uI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "email_to",
              "value": "={{ ($json.deliveredTo || $json['delivered-to'] || (($json.headers || {})['delivered-to']) || (($json.headers || {}).to) || $json.to || '').toLowerCase().match(/[\\w.+-]+@[\\w-]+\\.[\\w.-]+/)?.[0] || '' }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "email_from",
              "value": "={{ ($json.from || '').toLowerCase().match(/[\\w.+-]+@[\\w-]+\\.[\\w.-]+/)?.[0] || '' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "subject",
              "value": "={{ $json.subject || '' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "body_text",
              "value": "={{ ($json.text || $json.snippet || '').toString().replace(/\\s+/g, ' ').slice(0, 6000) }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "gmail_message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9825430a-a447-4b3b-bdd5-643feb67899c",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select user_id from public.user_integrations where channel = 'gmail' and identifier = $1 limit 1;",
        "options": {
          "queryReplacement": "={{ [$json.email_to] }}"
        }
      },
      "id": "0f2543f4-49bf-45ce-b3ca-74af0eeb6099",
      "name": "Resolve User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1600,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "95T92WHjhxWa7Pcx",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7750fb05-94a4-4a20-a4c4-49eb5a0a17d1",
      "name": "Has User?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.1, messages: [ { role: 'system', content: 'You extract transaction data from email notifications (bank alerts, e-wallet receipts, invoices, order confirmations, in Indonesian or English). Respond with ONLY a JSON object. No prose, no markdown.\\n\\nSchema:\\n{\\n  \\\"is_transaction\\\": boolean,\\n  \\\"transaction_type\\\": \\\"income\\\" | \\\"expense\\\",\\n  \\\"amount\\\": number,\\n  \\\"currency\\\": string (default \\\"IDR\\\"),\\n  \\\"transaction_date\\\": string (ISO date YYYY-MM-DD if visible, else null),\\n  \\\"merchant_name\\\": string | null,\\n  \\\"item_name\\\": string | null,\\n  \\\"category\\\": one of [\\\"Groceries\\\",\\\"Dining\\\",\\\"Transportation\\\",\\\"Utilities\\\",\\\"Entertainment\\\",\\\"Shopping\\\",\\\"Health\\\",\\\"Other\\\",\\\"Salary\\\",\\\"Freelance\\\",\\\"Investment\\\"],\\n  \\\"payment_method\\\": string | null,\\n  \\\"account_name\\\": string | null,\\n  \\\"invoice_number\\\": string | null,\\n  \\\"notes\\\": string | null,\\n  \\\"confidence_score\\\": number 0..1\\n}\\n\\nRules:\\n- If the email is a newsletter, promo, or not a real transaction, set is_transaction=false and all other fields null/0.\\n- Debit/withdrawal/purchase/payment -> expense. Credit/deposit/refund/payroll -> income.\\n- Amount is positive, no thousand separators.\\n- Return ONLY the JSON object.' }, { role: 'user', content: 'Subject: ' + $('Normalize Email').item.json.subject + '\\nFrom: ' + $('Normalize Email').item.json.email_from + '\\n\\n' + $('Normalize Email').item.json.body_text } ] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "42d6978c-faea-4e34-a698-35bec167353b",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        624
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "H5ckmlGmfkJgIK4Y",
          "name": "groq"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '';\nconst cleaned = raw.replace(/```json\\n?|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return [{ json: { _skip: true, _reason: 'Invalid JSON from LLM', raw } }];\n}\n\nif (!parsed.is_transaction || typeof parsed.amount !== 'number' || parsed.amount <= 0 || !parsed.transaction_type) {\n  return [{ json: { _skip: true, _reason: 'Not a transaction', parsed } }];\n}\n\nconst userId = $('Resolve User').first().json.user_id;\nconst msgId = $('Normalize Email').item.json.gmail_message_id;\n\nconst payload = {\n  user_id: userId,\n  transaction_type: parsed.transaction_type,\n  amount: parsed.amount,\n  currency: parsed.currency || 'IDR',\n  transaction_date: parsed.transaction_date || new Date().toISOString().slice(0, 10),\n  merchant_name: parsed.merchant_name || null,\n  item_name: parsed.item_name || null,\n  category: parsed.category || null,\n  payment_method: parsed.payment_method || null,\n  account_name: parsed.account_name || null,\n  invoice_number: parsed.invoice_number || null,\n  notes: parsed.notes || ('Gmail: ' + ($('Normalize Email').item.json.subject || '').slice(0, 120)),\n  source_channel: 'gmail',\n  source_reference: `gmail:${msgId}`,\n  confidence_score: typeof parsed.confidence_score === 'number' ? parsed.confidence_score : 0.7,\n  parsed_status: 'parsed'\n};\n\nreturn [{ json: payload }];"
      },
      "id": "197bd5b8-f457-4c1e-912a-0d54c9bded09",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json._skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ae69b6f6-319a-4949-91b4-723ef01aa6e8",
      "name": "Is Transaction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        624
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.transactions (\n  user_id, transaction_type, amount, currency,\n  transaction_date, merchant_name, item_name, category,\n  payment_method, account_name, invoice_number, notes,\n  source_channel, source_reference, confidence_score, parsed_status\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16\n)\nON CONFLICT (source_reference) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [\n  $json.user_id,\n  $json.transaction_type,\n  $json.amount,\n  $json.currency,\n  $json.transaction_date,\n  $json.merchant_name,\n  $json.item_name,\n  $json.category,\n  $json.payment_method,\n  $json.account_name,\n  $json.invoice_number,\n  $json.notes,\n  $json.source_channel,\n  $json.source_reference,\n  $json.confidence_score,\n  $json.parsed_status\n] }}"
        }
      },
      "id": "61fbd594-fdc6-49d2-851a-c371b0c45505",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        544
      ],
      "credentials": {
        "postgres": {
          "id": "95T92WHjhxWa7Pcx",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Normalize Email').item.json.gmail_message_id }}",
        "labelIds": [
          "Label_6381431170252521269"
        ]
      },
      "id": "2b2f84a3-135a-4d12-b689-d35ed624d193",
      "name": "Label Processed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -160,
        544
      ],
      "webhookId": "64325275-d8a0-48e7-a5c3-621776316395",
      "credentials": {
        "gmailOAuth2": {
          "id": "2cCqMvtYJ6vnZ2uI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.1, messages: [ { role: 'system', content: 'You extract transaction data from email notifications (bank alerts, e-wallet receipts, invoices, order confirmations, in Indonesian or English). Respond with ONLY a JSON object. No prose, no markdown.\\n\\nSchema:\\n{\\n  \\\"is_transaction\\\": boolean,\\n  \\\"transaction_type\\\": \\\"income\\\" | \\\"expense\\\",\\n  \\\"amount\\\": number,\\n  \\\"currency\\\": string (default \\\"IDR\\\"),\\n  \\\"transaction_date\\\": string (ISO date YYYY-MM-DD if visible, else null),\\n  \\\"merchant_name\\\": string | null,\\n  \\\"item_name\\\": string | null,\\n  \\\"category\\\": one of [\\\"Groceries\\\",\\\"Dining\\\",\\\"Transportation\\\",\\\"Utilities\\\",\\\"Entertainment\\\",\\\"Shopping\\\",\\\"Health\\\",\\\"Other\\\",\\\"Salary\\\",\\\"Freelance\\\",\\\"Investment\\\"],\\n  \\\"payment_method\\\": string | null,\\n  \\\"account_name\\\": string | null,\\n  \\\"invoice_number\\\": string | null,\\n  \\\"notes\\\": string | null,\\n  \\\"confidence_score\\\": number 0..1\\n}\\n\\nRules:\\n- If the email is a newsletter, promo, or not a real transaction, set is_transaction=false and all other fields null/0.\\n- Debit/withdrawal/purchase/payment -> expense. Credit/deposit/refund/payroll -> income.\\n- Amount is positive, no thousand separators.\\n- Return ONLY the JSON object.' }, { role: 'user', content: 'Subject: ' + $('Normalize Email').item.json.subject + '\\nFrom: ' + $('Normalize Email').item.json.email_from + '\\n\\n' + $('Normalize Email').item.json.body_text } ] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "0dcfadcd-9708-4f01-ad1c-248f7b31bade",
      "name": "Call LLM (backup)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        824
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RRJ8HwbhMLO1Cl9Z",
          "name": "groq-backup"
        }
      },
      "onError": "stopWorkflow"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Resolve User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve User": {
      "main": [
        [
          {
            "node": "Has User?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has User?": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call LLM (backup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Is Transaction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Transaction?": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Label Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM (backup)": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
